$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

.copy {
  line-height: 32px;
  font-weight: 300;
}

.fs-12 { font-size: 12px; }

.fs-14 { font-size: 14px; }

.fs-16 { font-size: 16px; }

.fs-18 { font-size: 18px; }

.fs-24 { font-size: 24px; }

.fs-34 { font-size: 34px; }

.fs-64 { font-size: 64px; }

.hz-separator {
  width: 70px;
  height: 4px
}

.mb-60 { margin-bottom: 60px; }

.ml-5 { margin-left: 5px; }
.mr-5 { margin-right: 5px;}


.t-center { text-align: center; }
